{{ define "main" }}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | default "mid-gray" }}">
    {{ .Content }}
  </article>

  {{ $mainSections := site.Params.mainSections | default (slice "post") }}
  {{ $show_recent_posts := site.Params.ananke.show_recent_posts }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}

  {{ if and $show_recent_posts (ge $section_count 1) }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{ range first $n_posts $section }}
          <div class="w-100 mb4 relative">
            {{ .Render "summary-with-image" }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
        <section class="w-100">
          <h1 class="f3">{{ i18n "more" }}</h1>
          {{ range first 4 (after $n_posts $section) }}
            <h2 class="f5 fw4 mb4 dib {{ if eq $.Site.Language.LanguageDirection "rtl" }}ml3{{ else }}mr3{{ end }}">
              <a href="{{ .RelPermalink }}" class="link black dim">
                {{ .Title }}
              </a>
            </h2>
          {{ end }}
        </section>
      {{ end }}
    </div>
  {{ end }}

{{ end }}